<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>account_box</mat-icon>
        <span
          class="full-width"
          *ngIf="isExpanded || isShowing"
          routerLink="/accounts"
        >
          {{user.name}}
        </span>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-nav-list *ngIf="accounts.length > 0">
        <mat-list-item class="total-sum">
          Всего деняг: {{totalMoney.sum}} рублей
        </mat-list-item>
        <mat-list-item>Рублей: {{totalMoney.rubSum}}</mat-list-item>
        <mat-list-item>Долларов: {{totalMoney.dollarSum}}</mat-list-item>
        <mat-list-item>Евро: {{totalMoney.euroSum}}</mat-list-item>
      </mat-nav-list>

    </mat-nav-list>
    <mat-nav-list>
      <mat-divider class="py"></mat-divider>
      <mat-list-item routerLink="/accounts">Счета</mat-list-item>
      <mat-list-item routerLink="/expenditure">Расходы</mat-list-item>
      <mat-list-item routerLink="/gains">Доходы</mat-list-item>
      <mat-list-item routerLink="/overviews">Отчеты</mat-list-item>
      <mat-list-item>Другое</mat-list-item>
      <mat-list-item (click)="onLogout()">Выход</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>




