<!--<ul >-->
<!--<h4>Daily Accounting</h4>-->
<!--<li>-->
<!--<a>-->
<!--Счета-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a>-->
<!--Расходы-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a>-->
<!--Доходы-->
<!--</a>-->
<!--</li>-->

<!--<li><a>Выйти</a></li>-->
<!--</ul>-->


<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
               (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>account_box</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">{{user.name}}</span>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item class="total-sum">
          Всего деняг: 3000000
        </mat-list-item>
      </mat-nav-list>

    </mat-nav-list>
    <mat-nav-list>
      <mat-divider class="py"></mat-divider>
      <mat-list-item routerLink="/accounts">Счета</mat-list-item>
      <mat-list-item routerLink="/expenditure">Расходы</mat-list-item>
      <mat-list-item routerLink="/gain">Доходы</mat-list-item>
      <mat-list-item routerLink="/overview">Отчеты</mat-list-item>
      <mat-list-item>Другое</mat-list-item>
      <mat-list-item (click)="onLogout()">Выход</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>




