
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>pets</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu" color="primary">Отчеты</button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        routerLink="/balance-report"
        #tooltip="matTooltip"
        matTooltip="Показать график движения всех средств за период"
        matTooltipPosition="right"
        matTooltipHideDelay="100000"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container"
        class="example-button"
      >
        Баланс общий
      </button>
      <button mat-menu-item [matMenuTriggerFor]="accountsList">
        Выбрать счет
      </button>
      <mat-menu #accountsList="matMenu">
        <button
          mat-menu-item
          *ngFor="let account of accounts"
          routerLink="/balance-report/{{account._id}}"
        >
          {{account.name}}
        </button>
      </mat-menu>

    </mat-menu>

  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;" class="container">Контролируй свои деньги :)</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
