
<mat-card>
  <mat-card-title>Registration</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="form"
      (submit)="onSubmit()"
    >
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Name"
            formControlName="name"
          >
          <mat-error *ngIf="form.get('name').invalid">Введите имя</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
          >
          <mat-error *ngIf="form.get('email').invalid">Введите email</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          >
          <mat-error *ngIf="form.get('password').invalid">Введите пароль</mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button
          type="submit"
          mat-button
          [disabled]="form.invalid"
        >
          Sign Up
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>

