<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>pets</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <a mat-button routerLink="/create-account">
      <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
      Создать счет
    </a>
    <span class="menu-spacer"></span>

    <div *ngIf="currencies.length > 0" class="left-group">
      <a mat-button>
        <mat-icon>attach_money</mat-icon>
        {{currencies[0].value}}
      </a>

      <a mat-button>
        <mat-icon>euro_symbol</mat-icon>
        {{currencies[1].value}}
      </a>
    </div>

  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;" class="container">Контролируй свои деньги :)</span>

  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="!isPending; else loader">
  <div *ngIf="accounts.length > 0; else empty">
    <table mat-table [dataSource]="accounts" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> Name</th>
        <td mat-cell *matCellDef="let element" > {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef style="width: 15%"> Total</th>
        <td mat-cell *matCellDef="let element"> {{element.total}}</td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef> Currency</th>
        <td mat-cell *matCellDef="let element"> {{element.currency}}</td>
      </ng-container>

      <ng-container matColumnDef="dir" >
        <th mat-header-cell *matHeaderCellDef style="width: 10%"> Dir</th>
        <td mat-cell *matCellDef> Dir</td>
      </ng-container>

      <ng-container matColumnDef="dop">
        <th mat-header-cell *matHeaderCellDef style="width: 15%"> Dop</th>
        <td mat-cell *matCellDef> Dop</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef style="width: 10%"> Edit account </th>
        <td mat-cell *matCellDef="let element">
          <a mat-button routerLink="/edit-account/{{element._id}}">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef style="width: 10%"> Delete</th>
        <td mat-cell *matCellDef="let element">
          <a mat-button (click)="onDeleteAccount(element._id)">
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>

<ng-template #empty>
  <mat-card class="empty-list">
    <mat-card-title>У вас еще нет счетов</mat-card-title>
    <span class="menu-spacer"></span>
    <mat-card-content>
      <mat-icon>sentiment_dissatisfied</mat-icon>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #loader>
  <mat-spinner class="center"></mat-spinner>
</ng-template>

