<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon class="mat-icon-rtl-mirror">cloud</mat-icon>
    </button>
    <h1 routerLink="/">Daily Accounting</h1>
    <span class="menu-spacer"></span>
    <div style="margin-rigth: auto;">
      <a mat-button routerLink="/"> Форумы </a>
      <a mat-button > Участники </a>
      <a mat-button > Поиск </a>
    </div>
    <div style="margin-left: auto;">
      <a mat-button routerLink="/login"> Login </a>
      <a mat-button routerLink="/signup"> Create Account </a>
    </div>
  </mat-toolbar-row>

  <!--<mat-toolbar-row>-->
  <!--<span style="font-size: 12px;" class="container">Общайся с котиками со всего мира!</span>-->
  <!--</mat-toolbar-row>-->
</mat-toolbar>

<router-outlet></router-outlet>
