
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>pets</mat-icon>
    </button>
    <span class="menu-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu" color="primary">Категории расходов</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">
        Все категории
      </button>
      <a mat-menu-item routerLink="/create-expCategory">Добавить категорию</a>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;" class="container">Контролируй свои деньги :)</span>

  </mat-toolbar-row>
</mat-toolbar>
