<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>pets</mat-icon>
    </button>
    <span class="menu-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu" color="primary">Категории доходов</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog()">
        Все категории
      </button>
      <button mat-menu-item (click)="onAddCategoryDialog()">Добавить категорию</button>
    </mat-menu>

    <button mat-button (click)="onAddGainDialog()">
      <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
      Новый доход
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;" class="container">Контролируй свои деньги :)</span>
  </mat-toolbar-row>

</mat-toolbar>

<div *ngIf="gains">
  <div *ngIf="gains.length > 0; else empty">
    <table mat-table [dataSource]="gains" class="mat-elevation-z8">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> Дата</th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'dd:MM:YYYY'}}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> Время</th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'hh:mm'}}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> Категория</th>
        <td mat-cell *matCellDef="let element"> {{element.category.name}}</td>
      </ng-container>

      <ng-container matColumnDef="itemPrice">
        <th mat-header-cell *matHeaderCellDef style="width: 20%"> Сумма</th>
        <td mat-cell *matCellDef="let element"> {{element.sum}} руб.</td>
      </ng-container>

      <!--<ng-container matColumnDef="description">-->
      <!--<th mat-header-cell *matHeaderCellDef style="width: 30%"> Описание </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element.description}} </td>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef style="width: 5%"></th>
        <td mat-cell *matCellDef="let element">
          <a mat-button routerLink="/edit-gain/{{element._id}}">
            <mat-icon>open_in_new</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef style="width: 5%"></th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            (click)="onDeleteGain(element._id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

  <ng-template #empty>
    <mat-card class="empty-list">
      <mat-card-title>У вас еще нет доходов</mat-card-title>
      <span class="menu-spacer"></span>
      <mat-card-content>
        <mat-icon>sentiment_dissatisfied</mat-icon>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #loader>
    <mat-spinner class="center"></mat-spinner>
  </ng-template>
